:root {
    --sans-serif-font: "Red Hat Display";
    --monospace: "Red Hat Mono";
}

* {
    box-sizing: border-box;
}

html[data-theme="dark"] {
    --primary-page-bg: #020509;
    --primary-page-fg: #00ff92;
    --primary-tags-fg: #757780;
    --primary-link-fg: #00ff92;
    --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
}

body,
html {
    background-color: var(--primary-page-bg);
    color: var(--primary-page-fg);
    font-family: var(--monospace);
    height: 100vh;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    color: var(--primary-link-fg);
    text-decoration: none;
}

section {
    background-color: #020509;
}

button {
    background-color: transparent;
    border: none;
    color: #00ff92;
    cursor: pointer;
    padding: 0;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

span {
    display: inline-block; 
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--sans-serif-font);
    margin: 0;
}

#stage {
    height: 100vh;
}

.headerType__aB {
    position: absolute;
    width: 100%;
}

.menuType__H3r0 {
    align-items: center;
    display: flex;
    font-size: 0.75rem;
    gap: 40px;
}

.heroSectionType__01 {
    height: 100%;
}

.flexContainerType__01 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 25px;
}

.heroHeaderType__01 {
    margin-bottom:  3rem;
    position: relative;
    width: fit-content;
}

.heroHeaderTypeText__01 {
    font-size: 4rem;
    font-weight: 900;
    line-height: 1.2;
    padding-left: 25px;
    text-shadow: 0px 0px 14px rgba(0,255,146,0.6);
    width: fit-content;
}

.heroHeaderTag__01,
.heroHeaderTag__02 {
    color: var(--primary-tags-fg);
    font-weight: 400;
    font-size: 0.75rem;
    width: fit-content;
    position: absolute;
}

.heroHeaderTag__01 {
    top: -16px;
}

.heroHeaderTag__02 {
    bottom: -16px;
}

.heroDescriptionType__01 {
    color: #54626F;
    font-size: 0.85rem;
    line-height: 1.5;
    margin-bottom: 5rem;
    max-width: 720px;
    padding: 0 25px;
    position: relative;
}

.heroDescriptionType__01::before {
    color: #757780;
    content: "<p>";
    font-size: 0.75rem;
    left: 0px;
    position: absolute;
    top: -32px;
}

.heroDescriptionType__01::after {
    bottom: -32px;
    color: #757780;
    content: "</p>";
    font-size: 0.75rem;
    left: 0px;
    position: absolute;
}

.heroButtonType__01 {
    background-color: transparent;
    color: #54626F;
    font-family: "Red Hat Mono";
    font-size: 0.85rem;
    position: relative;
}

.heroButtonType__01::before {
    color: #757780;
    content: "<button>";
    font-family: "Red Hat Mono";
    font-size: 0.75rem;
    padding-right: 0.85rem;
}

.heroButtonType__01::after {
    color: #757780;
    content: "</button>";
    font-family: "Red Hat Mono";
    font-size: 0.75rem;
    padding-left: 0.85rem;
}

.flexContainerType__02 {
    align-items: flex-start;
    background-color: #020509;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    height: 90vh;
    margin: 0 auto;
    max-width: 1200px;
    padding: 25px;
}

.sectionHeaderType__a0 {
    font-size: 4rem;
    margin-bottom: 1rem;
    position: relative;
    max-width: 1200px;
}

.sectionHeaderTextType__ad {
    font-size: 4rem;
    font-weight: 900;
    padding: 1rem 0;
    text-shadow: 0px 0px 14px rgba(0,255,146,0.6);
    width: fit-content;
}

.sectionHeaderTag__ac,
.sectionHeaderTag__ae {
    position: absolute;
    color: #757780;
    font-family: "Red Hat Mono";
    font-size: 0.75rem;
}

.sectionHeaderTag__ac {
    top: 0;
    left: 0;
}

.sectionHeaderTag__ae {
    bottom: 0;
    right: 0;
}

.sectionDescription__af {
    color: #54626F;
    font-size: 0.85rem;
    line-height: 1.5;
    max-width: 968px;
}

.sectionDescription__af::before {
    content: "<p>";
    display: block;
    padding-bottom: 1rem;
}

.sectionDescription__af::after {
    content: "<p>";
    display: block;
    padding-top: 1rem;
    width: fit-content;
    margin-left: auto;
}

.sectionDescriptionValue_af {
    padding-left: 25px;
}

.flexContainerType__b1 {
    align-items: flex-start;
    background-color: #020509;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 100px;
    max-width: 1200px;
    padding: 25px;
}

.techLogo {
    cursor: pointer;
    opacity: 0.50;
    position: relative;
    transition: 500ms var(--ease-out-expo);
}

.techLogo:hover {
    opacity: 1;
}

.overlay::before,
.overlay::after {
    pointer-events: none;
}

.buttonType__f0s3 {
    background-color: #00ff92;
    border-radius: 0.75rem;
    color: #020509;
    font-family: "Red Hat Mono";
    font-size: 1rem;
    font-weight: bold;
    height: 72px;
    transition: 500ms var(--ease-out-expo);
    width: 320px;
}

.buttonType__f0s3:hover {
    box-shadow: 0 0 3rem -0.5rem #00ff92;
}

@media only screen and (min-width: 768px) {
    .buttonType__f0s3 {
        font-size: 1.5rem;
        width: 480px;
    }
}

.flexWrapperType__H3r0 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 80px;
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 20px;
}

.flexContainerType__f0s3,
.flexContainerType__5b0T,
.flexContainerType__sK1l,
.flexContainerType__Pr0J,
.flexContainerType__3xPs {
    align-items: center;
    background-color: #020509;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 100px;
    max-width: 1200px;
    padding: 25px;
    position: relative;
}

.descriptionType__f0s3 {
    color: #54626F;
    font-size: 0.85rem;
    line-height: 1.5;
    margin-bottom: 5rem;
    max-width: 720px;
    padding: 0 25px;
    position: relative;
    text-align: center;
}

.descriptionType__f0s3::before {
    color: #757780;
    content: "<p>";
    font-size: 0.75rem;
    left: 0px;
    position: absolute;
    top: -32px;
    width: fit-content;
}

.descriptionType__f0s3::after {
    bottom: -32px;
    color: #757780;
    content: "</p>";
    font-size: 0.75rem;
    left: 0px;
    position: absolute;
    right: 0;
    width: fit-content;
    margin-left: auto;
}

.heroDescriptionType__3xPs {
    color: #54626F;
    font-size: 0.85rem;
    line-height: 1.5;
    max-width: 968px;
    position: relative;
}

.heroDescriptionType__3xPs::before {
    color: #757780;
    content: "<p>";
    font-size: 0.75rem;
    left: 0px;
    position: absolute;
    top: -32px;
    width: fit-content;
}

.heroDescriptionType__3xPs::after {
    bottom: -32px;
    color: #757780;
    content: "</p>";
    font-size: 0.75rem;
    left: 0px;
    position: absolute;
    right: 0;
    width: fit-content;
    margin-left: auto;
}

[data-animation="waving-animation"] {
    animation-name: waving-animation;
    animation-duration: 2500ms;
    animation-timing-function: var(--ease-out-expo);
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;   
}

@keyframes waving-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

.techLogoGlow {
    filter: blur(1rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 500ms var(--ease-out-expo);
    height: 60%;
    width: 60%;
    pointer-events: none;
    z-index: -1;
}

.techLogo:hover .techLogoGlow {
    opacity: 0.4;
}

.techLogoGlow[data-glow="git"] {
    background-color: #F05133;
}

.techLogoGlow[data-glow="mongodb"] {
    background-color: #10AA50;
}

.techLogoGlow[data-glow="node"] {
    background-color: #83CD29;
}

.techLogoGlow[data-glow="django"] {
    background-color: #f6f6f6;
}

.techLogoGlow[data-glow="nginx"] {
    background-color: #009900;
}

.techLogoGlow[data-glow="mysql"] {
    background-color: #00758F;
}

.techLogoGlow[data-glow="postgresql"] {
    background-color: #336791;
}

.techLogoGlow[data-glow="php"] {
    background-color: #AEB2D5;
}

.techLogoGlow[data-glow="golang"] {
    background-color: #00ACD7;
}

.techLogoGlow[data-glow="java"] {
    background-color: #E76F00;
}


.techLogoGlow[data-glow="html"] {
    background-color: #FF7816;
    width: 100%;
}

.techLogoGlow[data-glow="react"] {
    background-color: #61DAFB;
}

.techLogoGlow[data-glow="docker"] {
    background-color: #006BC0;
    width: 120%;
}

.techLogoGlow[data-glow="python"] {
    background: rgb(90,159,212);
    background: linear-gradient(325deg, rgba(90,159,212,1) 0%, rgba(255,212,59,1) 100%);
}

.techLogoGlow[data-glow="javascript"] {
    background-color: #FFDF00;
    width: 100%;
}

.techLogoGlow[data-glow="css"] {
    background-color: #2196F3;
    width: 100%;
}

.projectCardHeaderType__Pr0J {
    font-family: "Red Hat Mono";
    font-weight: 400;
}

@media only screen and (min-width: 768px) {
    .projectCardHeaderType__Pr0J {
        font-size: 1.5rem;
    }
}


@media only screen and (min-width: 768px) {
    .skillsWrapper__sK1l {
        height: 75vh;
    }
}

.verticalLine__Pr0J {
    background-color: #00ff92;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 1px;
    margin-left: -50px;
}

.dot__Pr0J {
    left: 0;
    margin-left: -59px;
    margin-top: 7px;
    position: absolute;
}

.projectCards__Pr0J {
    max-width: 720px;
    margin: 0 auto;
}

.projectCardParagraph__Pr0J {
    font-size: 0.85rem;
    color: #54626f;
}